@forward 'globals';
@use './globals/colors' as *;

body {
    background-color: $very-dark-blue;
    color: $white;
    min-height: 100vh;
    font-size: .9375rem;
    font-weight: 400;
    font-family: 'Overpass', sans-serif;
}

.card__default {
    max-width: 325px;
    background-color: $dark-blue;
    padding: 2rem;
    margin: 1.5rem;
    border-radius: 20px;

    .icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: lighten($dark-blue, 10);
    }

    h1 {
        font-size: 1.75rem;
        font-weight: 700;
        margin: 2rem 0 1rem 0;
    }

    p {
        line-height: 1.6;
        letter-spacing: 1.8;
        color: $medium-grey;
        margin-bottom: 1.5rem;
    }

    .rating__options {
        margin-bottom: 2rem;
        gap: 1.25rem;
        justify-content: space-between;
    }

    .option {
        text-align: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: lighten($dark-blue, 10);
        color: $light-gray;
        transition: .4s;
    }

    .option:hover {
        background-color: $light-gray;
        color: $white;
    }

    .selected {
        background-color: $orange !important;
        color: $white !important;
    }

    .submit {
        width: 100%;
        text-align: center;
        letter-spacing: 1.5px;
        background-color: $orange;
        padding: 1rem 0;
        border-radius: 25px;
        transition: .4s;
    }

    .submit:hover {
        background-color: $white;
        color: $orange;
    }
}

.card__success {
    max-width: 325px;
    padding: 2.75rem 2.5rem;
    background-color: $dark-blue;
    border-radius: 20px;

    img {
        margin-bottom: 2rem;
    }

    .user__rating {
        background-color: lighten($dark-blue, 10);
        color: $orange;
        padding: .625rem 1rem;
        border-radius: 25px;
        display: inline-flex;
        margin-bottom: 2.5rem;
    }

    h1 {
        font-size: 1.75rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    p {
        text-align: center;
        line-height: 1.6;
        letter-spacing: 1.8;
        color: $medium-grey;
    }
}