.flex {
    display: flex;
}

.grid {
    display: grid;
}

.center-y {
    align-items: center;
}

.center-x {
    justify-content: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.hidden {
    display: none;
}